/* ------------------------- general ---------------------- */
html{
    font-family: Arial, Helvetica, sans-serif;    
    background: rgb(200, 50, 50);
}

p{
    margin: 0;
}

img{
    width: 20vw;
    /* pictures need tweaking */
}

img.footPrint{
    width: 50px;
}

/* ----------------- modal formatering -------------------------- */

.modal-gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 0px;
    }
    
.modal-description { 
    grid-area: 2 / 3 / 3 / 6; 
}
.modal-info { 
    grid-area: 3 / 1 / 5 / 3; 
}
.modal-stats{
    grid-area: 3 / 3 / 5 / 5;

}
.modal-btn { 
    grid-area: 5 / 2 / 6 / 4;
    width: 100%; 
}
.modal-image { 
    grid-area: 1 / 1 / 3 / 3; 
}
.modal-name { 
    grid-area: 1 / 3 / 2 / 5; 
}

form {
    margin: 2em auto 0;
    padding: 1em 1em 2em;
    text-align: center;
}

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
    cursor: pointer;
}

dialog{
    padding: 2em 1em;
    width: 60vw;
}

ul{
    list-style: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

/* ------------- Themes (well it's really just backgrounds)--------------- */


.FireTheme{
    background: rgb(238,129,48);
}

.NormalTheme{
    background: rgb(168,167,122);
}

.WaterTheme{
    background: rgb(99,144,240);
}

.ElectricTheme{
    background: rgb(247,208,44);
}

.GrassTheme{
    background: rgb(122,199,76);
}

.IceTheme{
    background: rgb(150,217,214);
}

.FightingTheme{
    background: rgb(194,46,40);
}

.PoisonTheme{
    background: rgb(163,62,161);
}

.GroundTheme{
    background: rgb(226,191,101);
}

.FlyingTheme{
    background: rgb(169,143,243);
}

.PsychicTheme{
    background: rgb(249,85,135);
}

.BugTheme{
    background: rgb(166,185,26);
}
.RockTheme{
    background: rgb(182,161,54);
}

.GhostTheme{
    background: rgb(115,87,151);
}

.DragonTheme{
    background: rgb(111,53,252);
}

.DarkTheme{
    background: rgb(112,87,70);
}

.SteelTheme{
    background: rgb(183,183,206);
}

.FairyTheme{
    background: rgb(214,133,173);
}

/* -------------------- pokemon list grid ---------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

.grid-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background: rgba(223, 223, 223);
}


.grid-item:hover {
    box-shadow: 0 5px 10px 0 white;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    img{
        width: 10vw;
    }
}


