html{
    font-family: Arial, Helvetica, sans-serif;    
    background: rgb(200, 50, 50);
    /* background: linear-gradient(90deg, rgba(174,238,235,1) 0%, rgba(96,222,240,1) 50%, rgba(148,187,233,1) 100%); */
}

dialog{
    /* background: rgb(184, 237, 247);
    background: linear-gradient(60deg, #C22E28 0%, #B7B7CE 100%);    width: 65vw; */
    padding: 2em 1em;
}

img{
    width: 20vw;
    /* pictures need tweaking */
}

img.footPrint{
    width: 50px;
}

/* ----------------------- Themes--------------------- */


.FireTheme{
    background: rgb(238,129,48);
}

.NormalTheme{
    background: rgb(168,167,122);
}

.WaterTheme{
    background: rgb(99,144,240);
}

.ElectricTheme{
    background: rgb(247,208,44);
}

.GrassTheme{
    background: rgb(122,199,76);
}

.IceTheme{
    background: rgb(150,217,214);
}

.FightingTheme{
    background: rgb(194,46,40);
}

.PoisonTheme{
    background: rgb(163,62,161);
}

.GroundTheme{
    background: rgb(226,191,101);
}

.FlyingTheme{
    background: rgb(169,143,243);
}

.PsychicTheme{
    background: rgb(249,85,135);
}

.BugTheme{
    background: rgb(166,185,26);
}
.RockTheme{
    background: rgb(182,161,54);
}

.GhostTheme{
    background: rgb(115,87,151);
}

.DragonTheme{
    background: rgb(111,53,252);
}

.DarkTheme{
    background: rgb(112,87,70);
}

.SteelTheme{
    background: rgb(183,183,206);
}

.FairyTheme{
    background: rgb(214,133,173);
}

/* -------------------------------------------------------------------- */


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


.grid-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background: rgba(223, 223, 223);
}

.grid-item:hover {
    box-shadow: 0 1px 10px 0;
}

.grid-item p {
    margin: 0.3em 0;
}


.grid-container .btns {
    padding: 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-container .btns button {
    width: 100%;
}

form {
    margin: 2em auto 0;
    padding: 1em 1em 2em;
    text-align: center;
}

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
    cursor: pointer;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

ul{
    list-style: none;

}

li{
    color: #fff;
    text-shadow: 0.5px 0 0 #000, 0 -0.5px 0 #000, 0 0.5px 0 #000, -0.5px 0 0 #000;

}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}