html{
    font-family: Arial, Helvetica, sans-serif;    background: rgb(174,238,235);
    background: linear-gradient(90deg, rgba(174,238,235,1) 0%, rgba(96,222,240,1) 50%, rgba(148,187,233,1) 100%);
}

dialog{
    /* background: rgb(184, 237, 247);
    background: linear-gradient(60deg, #C22E28 0%, #B7B7CE 100%);    width: 65vw; */
    padding: 2em 1em;
}

img{
    
}


/* ----------------------- Themes--------------------- */


.FireTheme{
    background: radial-gradient(circle, #EE8130 0%, #EE8130 70%, black 100%);     

}

.NormalTheme{
    background: radial-gradient(circle, #A8A77A 0%, #A8A77A 70%, black 100%);     

}

.WaterTheme{
    background: radial-gradient(circle, #6390F0 0%, #6390F0 70%, black 100%);     

}

.ElectricTheme{
    background: radial-gradient(circle, #F7D02C 0%, #F7D02C 70%, black 100%);     

}

.GrassTheme{
    background: radial-gradient(circle, #7AC74C 0%, #7AC74C 70%, black 100%);     
 
}

.IceTheme{
    background: radial-gradient(circle, #96D9D6 0%, #96D9D6 70%, black 100%);     
 
}

.FightingTheme{
    background: radial-gradient(circle, #C22E28 0%, #C22E28 70%, black 100%);     
}

.PoisonTheme{
    background: radial-gradient(circle, #A33EA1 0%, #A33EA1 70%, black 100%);     

}

.GroundTheme{
    background: radial-gradient(circle, #E2BF65 0%, #E2BF65 70%, black 100%);      
}


.FlyingTheme{
    background: radial-gradient(circle, #A98FF3 0%, #A98FF3 70%, black 100%);      
   
}

.PsychicTheme{
    background: radial-gradient(circle, #F95587 0%, #F95587 70%, black 100%);      

}

.BugTheme{
    background: radial-gradient(circle, #A6B91A 0%, #A6B91A 70%, black 100%);         
}

.RockTheme{
    background: radial-gradient(circle, #B6A136 0%, #B6A136 70%, black 100%);         

}

.GhostTheme{
    background: radial-gradient(circle, #735797 0%, #735797 70%, black 100%);         

}

.DragonTheme{
    background: radial-gradient(circle, #6F35FC 0%, #6F35FC 70%, black 100%);         

}

.DarkTheme{
    background: radial-gradient(circle, #705746 0%, #705746 70%, black 100%);         

}

.SteelTheme{
    background: radial-gradient(circle, #B7B7CE 0%, #B7B7CE 70%, black 100%);         

}

.FairyTheme{
    background: radial-gradient(circle, #D685AD 0%, #D685AD 70%, black 100%);         

}

/* -------------------------------------------------------------------- */


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}


.grid-item {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background: linear-gradient(140deg, rgba(242,242,242,1) 0%, rgba(112,230,216,1) 35%, rgba(0,212,255,1) 100%);    
    cursor: pointer;
}

.grid-item:hover {
    box-shadow: 0 1px 10px 0;
}


.grid-item p {
    margin: 0.3em 0;
}


.grid-container .btns {
    padding: 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.grid-container .btns button {
    width: 100%;
}

form {
    margin: 2em auto 0;
    padding: 1em 1em 2em;
    text-align: center;
}

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
    cursor: pointer;
}

dialog::backdrop {
    background: rgba(47, 51, 51, 0.8);
}

ul{
    list-style: none;

}

li{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}

.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}